<!DOCTYPE html>
<html>
  <head>
    <title>SmartCalender</title>
      
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://use.fontawesome.com/e7932123f4.js"></script>
      
      
      
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->

<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,500" rel="stylesheet">
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <style type="text/css">div.image {max-width: 26px;max-height: 26px;background-image: url(data:image/svg+xml;base64,
PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxNS40NTggNTE1LjQ1OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTE1LjQ1OCA1MTUuNDU4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PGc+Cgk8cGF0aCBkPSJNMjk4Ljc5NCwzODYuNzExYzI3LjgwNSw5LjUyMiw1Mi4zNTcsMTUuNTg3LDg3LjYzMywyNi40MjdDMzcyLjg3NSw1ODQuMzc0LDIxMC45NTIsNTE2LjM3MSwyOTguNzk0LDM4Ni43MTF6ICAgIE00NDMuMzY2LDIyOS40MDljLTEuODI2LTUxLjQxNS0xMC44ODItMTE4Ljg2LTgzLjAxNy0xMDguMjkyYy0zMy44MTUsOC44MjUtNTguOCw0NS45NjItNzAuNTUxLDExMC4wMzUgICBjLTYuNDU0LDM1LjIyOS0yLjcwMSw4NC42NzgsNC45MTIsMTE0LjMyYzYuOTUxLDIwLjg4OSw0LjU4NywxOS42MDUsMTIuMDU4LDIzLjU3MmMyOC45MTYsNi41MTQsNTcuNTQyLDEzLjcyNSw4Ni42OTMsMjEuMDc4ICAgQzQyMy4wNzUsMzY5LjIwOSw0NDcuMzk3LDI1OC4xODIsNDQzLjM2NiwyMjkuNDA5eiBNMjIwLjc1MiwyMjUuNDYzYzcuNjA3LTI5LjY0NiwxMS4zNi03OS4wOTUsNC45MDktMTE0LjMyICAgQzIxMy45MTksNDcuMDY3LDE4OC45MzEsOS45MjQsMTU1LjExLDEuMTA1QzgyLjk3NS05LjQ2Myw3My45MTksNTcuOTgxLDcyLjA5MywxMDkuMzk5ICAgYy00LjAzMSwyOC43NjgsMjAuMjk0LDEzOS44MDIsNDkuOTExLDE2MC43MTFjMjkuMTQ5LTcuMzUzLDU3Ljc3MS0xNC41NTgsODYuNjk2LTIxLjA3OCAgIEMyMTYuMTYyLDI0NS4wNjksMjEzLjc5OCwyNDYuMzUyLDIyMC43NTIsMjI1LjQ2M3ogTTEyOS4wMjksMjkzLjEzMmMxMy41NDcsMTcxLjIzNCwxNzUuNDcsMTAzLjIzMSw4Ny42My0yNi40MjcgICBDMTg4Ljg1NCwyNzYuMjI4LDE2NC4zMDQsMjgyLjI5MiwxMjkuMDI5LDI5My4xMzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiMzQ0FDQUEiIGRhdGEtb2xkX2NvbG9yPSIjM0JBQUE4Ij48L3BhdGg+CjwvZz48L2c+IDwvc3ZnPg==)}</style>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
